schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="a" type="ListType" />
                <xs:element name="b" type="ListType" />
                <xs:element name="c" type="ListType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ListType">
        <xs:sequence>
            <xs:element name="li" type="xs:integer" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>

